@mixin absolute ($lf:50%, $rt:50%){
    position: absolute;
    left: $lf;
    top: $rt;
}
@mixin clearFix(){
    display: block;
	content: '';
	clear: both;
}
@mixin textHide(){
    line-height: 0;
	font-size: 1;
	overflow: hidden;
}

// variables 
$color-primary: #74a9ec;
$color-sub: #e2edff;
$color-normal: #1c1c1b;

/*
    예)
    @include mq('1200'){
       css
    }
*/
/* media */
@mixin mq($screen-width) {
    @if $screen-width == "1200" {
        /* desktop */
        @media screen and (max-width:1200px){ 
            @content;
        }
    }   
    @else if $screen-width == "1026" {
        /* tablet */
        @media screen and (max-width:1026px){
            @content;
        }
    } 
    @else if $screen-width == "980" {
        /* tablet */
        @media screen and (max-width:980px){
            @content;
        }
    }
    @else if $screen-width == "767" {
        /* mobile */
        @media screen and (max-width:767px){
            @content;
        }
    }
    @else if $screen-width == "600" {
        /* mobile */
        @media screen and (max-width:600px){
            @content;
        }
    }
    @else if $screen-width == "480" {
        /* mobile */
        @media screen and (max-width:480px){
            @content;
        }
    }
    @else if $screen-width == "380" {
        /* mobile */
        @media screen and (max-width:380px){
            @content;
        }
    }
        /* 최소크기 */
    @else if $screen-width == "320" {
        @media screen and (max-width:320px){
            @content;
        }
    }
}
