@keyframes cloud {
    0%{
       background-position: 0 0;
    }
    100% {
       background-position: 500px 0;
   }
 }
 @keyframes island {
    0%{
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(2%);
   }
 }
 @keyframes title {
   0%{
      opacity: 0;
      top: -5rem;
   }
   100% {
      opacity: 1;
      top: 0rem;
  }
}
@keyframes clover {
   0%{
      opacity: 0;
      top: -10rem;
   }
   100% {
      opacity: 1;
      top: 5rem;
  }
}
@keyframes bounce {
   40% {
     transform: translateY(9px);
   }
   55% {
     transform: translateY(-1px);
   }
   70% {
     transform: translateY(4px);
   }
 }
 @keyframes Aptitude {
   0%{
      opacity: 0;
      width: 0rem;
      height: 0rem;
   }
   100% {
      opacity: 0.8;
      width: 19rem;
      height: 13rem;
  }
}
 /* about  */
 @keyframes photoShopGage {
    0%{
       width: 0;
    }
    100%{
       width: 85%;
    }
 }
 @keyframes AiGage {
    0%{
       width: 0;
    }
    100%{
       width: 70%;
    }
 }
 @keyframes HtmlGage {
    0%{
       width: 0;
    }
    100%{
       width: 95%;
    }
 }
 @keyframes CssGage {
    0%{
       width: 0;
    }
    100%{
       width: 90%;
    }
 }
 @keyframes ScssGage {
    0%{
       width: 0;
    }
    100%{
       width: 88%;
    }
 }
 @keyframes JsGage {
    0%{
       width: 0;
    }
    100%{
       width: 50%;
    }
 }
 @keyframes FigmaGage {
    0%{
       width: 0;
    }
    100%{
       width: 60%;
    }
 }
 @keyframes GithubGage {
    0%{
       width: 0;
    }
    100%{
       width: 70%;
    }
 }
 @keyframes upDown {
   0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-1rem);
  }
}
@keyframes moveX {
   0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-1rem);
  }
}
   
@keyframes  banner{
   0% {
      background-position-x: 0;
   }
   100% {
      background-position-x: 1000px;
   }
}