html {
    font : {
        size: 10px;
        font-family: "Noto Sans KR", sans-serif;
    }
}
body,html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    cursor: none;
}
a,button {
    cursor: none;
}
html, body, div, span, ul, li,
h1, h2, h3, h4, h5, h6, p, figure, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a{
    display: block;
    text-decoration: none;
	color: inherit;
}
em {
    font-style: normal;
}
section {
    width: 100%;
    overflow: hidden;
 }
button, select {
    outline: none;
    border: none;
    background-color: transparent;
}
span {
    display: inline-block;
}
h2 {
    font : {
        size: 11rem;
        weight: 800;
        style : italic;
        family:'Nanum Myeongjo';
    }
}
h3 {
    font-size: 4rem;
}
p, dd {
    font-size: 1.6rem;
}

/* input x 지우기 */
/* IE */
input::-ms-clear,
input::-ms-reveal {
    display:none;
}
/* 크롬 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display:none;
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(126, 172, 247);
    border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #e2edff;
}
::-webkit-scrollbar-button {
    background-color: #e2edff;
}

// mouse
.mouse {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/mouse-img-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 9999;
 }
 .mouseFocus {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/mouse-img-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 9999;
 }

 ::selection {
    background-color: #74a9ec;
    color: #fff; 
}