#contact {
    position: relative;
    padding: 5rem 0 0 0;
    box-sizing: border-box;
    margin: 0 auto;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15rem;
        background: url(../img/contact-img-1.png)center center no-repeat;
        background-size: cover;
        opacity: .5;
        z-index: 0;
    }

    h2 {
        position: relative;
        width: 100%;
        display: inline-block;
        
        font : {
            size: 9rem;
            weight: 800;
            style : italic;
            family:'Nanum Myeongjo';
        }
        color: #ffffff;
        text-align: center;
        -webkit-text-stroke-width: .1rem;
        -webkit-text-stroke-color: $color-primary;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: .4rem;
            border-radius: 1rem;
            background: url(../img/main-img-1.jpg)center center;
            opacity: .3;
        }
    }

    p {
        position: relative;
        padding: 2rem 0;
        margin: 10rem 0 0 0;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        color: #989898;
        z-index: 1;
    }
}

.contact {
    &-inner {
        max-width: 110rem;
        padding: 2rem;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            box-sizing: border-box;
            margin: 10rem 0 0 0;

            li {
                position: relative;
                text-align: center;
                font-size: 2rem;

                &:nth-of-type(1) {
                    line-height: 4rem;
                    margin: 0 0 5rem 0;
                    color: #1c1c1b;

                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 1rem;
                        top: -11rem;
                        width: 10rem;
                        height: 10rem;
                        background: url(../img/contact-img-2.png)center center no-repeat;
                        background-size: contain;
                        animation: upDown 1.2s ease infinite alternate;
                    }
                }

                &:nth-of-type(2) {
                    display: flex;
                    justify-content: center;
                    text-align: left;

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: 1rem;
                        bottom: 0;
                        width: 10rem;
                        height: 10rem;
                        background: url(../img/contact-img-3.png)center center no-repeat;
                        background-size: contain;
                        animation: upDown 1.5s ease infinite alternate;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    padding: 1.5rem;
                    margin: 0 1rem 0 0;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    font-size: 1.5rem;
                    transition: box-shadow .2s ease;

                    span {
                        width: 3rem;
                        height: 3rem;
                        margin: 0 1rem 0 0;
                    }

                    &:hover {
                        box-shadow: 0 0 0 .1rem $color-primary;
                        text-decoration: underline;

                        span{
                            animation: bounce 0.5s linear;
                        }
                    }

                    &:nth-of-type(1) {
                        span {
                            background: url(../img/contact-img-4.png)center center no-repeat;
                            background-size: contain;
                        }
                    }
                    &:nth-of-type(2) {
                        span {
                            background: url(../img/contact-img-5.png)center center no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}
