nav {
    position: fixed;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem .5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    z-index: 999;

     /* media */
     @include mq('1026'){
        right: 2rem;
        top: 0%;
        transform: translateY(0%);
    }
    @include mq('600'){
        right: 1rem;
    }


    ul {
        display: grid;
        grid-template-columns: repeat(1fr,1);
        gap: 1.5rem;

        /* media */
        @include mq('1026'){
            grid-template-columns: repeat(4,1fr);
        }
        @include mq('600'){
            gap: .8rem;
        }


        li {
            position: relative;
            z-index: 998;

            &:hover {
                animation: bounce 0.5s linear;
            }
           
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                background-color: #fff;
                box-shadow: 0 0 .5rem 0 #00000030;
                border-radius: 50%;

                @include mq('600'){
                    width: 2.8rem;
                    height: 2.8rem;
                }

                img {
                    width: 3rem;
                    height: 3rem;
                    object-fit: cover;

                    @include mq('600'){
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
        }
    }
}