.main {
    position: relative;
    width: 100%;
    padding: 5rem 0;
    box-sizing: border-box;
    background: url('../img/main-img-1.jpg') center center repeat-x;
    background: {
       size: cover;
       attachment: fixed;
    };
    animation: cloud 100s linear infinite alternate-reverse;
    overflow: hidden;

     /* media */
    @include mq('1026'){
     }

     &-inner {
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 124rem;
         height: 100%;
         margin: 0 auto;
     }

     /* title */
     .title {
         margin: 1rem 0 0 0;

         /* media */
         @include mq('1026'){
         }

         span {
            display: inline-block;
            position: relative;
            left: 50%;
            top: 0rem;
            width: 80rem;
            height: 16rem;
            transform: translateX(-50%);
            background: url(../img/main-title-img-1.png)center center no-repeat;
            background-size: contain;
            animation: title .7s forwards;
            opacity: 0;

            /* media */
           @include mq('1026'){
               max-width: 35rem;
               height: 20rem;
               background: url(../img/main-title-img-2.png)center center no-repeat;
               background-size: contain;
            }
            
            &::after {  
               content: '';
               display: inline-block;
               position: absolute;
               right: 0;
               top: 5rem;
               width: 4rem;
               height: 4rem;
               background: url(../img/main-title-deco.png)center center no-repeat;
               background-size: 40px 40px;
               animation: clover .2s forwards;
               animation-delay: 1s;
               opacity: 0;

                /* media */
              @include mq('1026'){
                  display: none;
               }
            }
         }
      }

      /* island */
      .bg-island {
         margin: 6rem 0 0 0;
         text-align: center;
         z-index: 1;

         /* media */
        @include mq('1026'){
         }

         span {
            display: inline-block;
            max-width: 60rem;
            text-align: center;
            animation: island 2s linear infinite alternate;

            /* media */
            @include mq('1026'){
               max-width: 50rem;
            }

            img {
               width: 100%;
               height: 100%;
            }
         }

         /* media */
        @include mq('1026'){
         }
      }
   }