.projects {
    position: relative;
    height: auto;
    margin: 0 0 5rem 0;
    box-sizing: border-box;

    h2 {
        font : {
            size: 9rem;
            weight: 800;
            style : italic;
            family:'Nanum Myeongjo';
        }

        &::after {
            content: 'projects';
            display: block;
            max-width: 124rem;
            margin: 0 auto;
            color: transparent;
            text-align: start;
            -webkit-text-stroke-width: .1rem;
            -webkit-text-stroke-color: $color-primary;
        }
    }

    &-inner {
        max-width: 124rem;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 6rem 0;
        box-sizing: border-box;

        &-wrapper {

        }

        &-slide {
            display: grid;
            grid-template-columns: 35% 65%;
            cursor: none;

            &:nth-of-type(1) {
            }
            &:nth-of-type(2) {
            }
            &:nth-of-type(3) {
            }
        }

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                position: relative;
                width: 80%;
                margin: 0 0 2rem 0;

                &::after {
                    display: block;
                    text-transform: none;
                    color: #000;
                    font : {
                        size: 1.4rem;
                        weight: 100;
                    }
                }
            }

            &-txt {
                width: 80%;
                margin: 0 0 4rem 0;

                dl {
                    padding: 1.3rem 0;
                    box-sizing: border-box;

                    dt {
                        margin: 0 0 .5rem 0;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    dd {
                        color: #444444;
                    }
                }
            }

            ul {
                display: flex;
                width: 80%;

                li {
                    position: relative;
                    font-size: 1.8rem;
                    border: 1px solid $color-primary;
                    border-radius: 3rem;
                    transition: background-color .2s ease;
                    box-shadow: inset 0 -.3rem 0 0 #5f71c39c;
                    overflow: hidden;

                    &:nth-of-type(2){
                        border: none;
                        background-color: $color-sub;
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 1%;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: $color-primary;
                        transition: transform .5s ease-in-out,
                        opacity .2s ease;
                        opacity: 0;
                    }

                    &:hover {
                        animation: bounce 0.5s linear;

                        &::before  {
                            transform: scale(24);
                            opacity: 1;
                        }
                        a{
                            color: #fff;
                            transform: scale(1.1);
                        }
                    }
                    
                    a {
                        display: block;
                        width: 13rem;
                        height: 4rem;
                        line-height: 4rem;
                        text-align: center;
                        color: $color-primary;
                        transition: color .2s ease, transform .2s ease;
                        white-space: nowrap;
                    }

                    &:nth-of-type(1) {
                        margin: 0 1rem 0 0;
                    }
                }
                .hide {
                    display: none;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 80rem;
            max-height: 45.8rem;
            padding: 5rem 2rem 2rem 2rem;
            box-sizing: border-box;
            border-radius: 1rem;
            background-color: #eef5ff;
            border: .3rem solid $color-primary;
            transition: transform .2s ease, box-shadow .2s ease;

            &:hover {
                transform: translate(-.5%, -.5%);
                box-shadow: .5rem .5rem 0 0 $color-primary;
            }

            span {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                padding: .7rem 1rem;
                box-sizing: border-box;
                border : {
                    top-left-radius: 1rem;
                    top-right-radius: 1rem;
                    bottom: .3rem solid $color-sub;
                }
                color: #444444;
                background-color: #fff;

                font : {
                    size: 1.4rem;
                    weight: 800;
                    style : italic;
                    family:'Nanum Myeongjo';
                }

                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: 1rem;
                    top: .6rem;
                    width: 3rem;
                    height: 2rem;
                    background: url(../img/star-yellow.png)center center no-repeat;
                    background-size: contain;
                }
            }

            figure {
                height: 100%;
    
                img {
                    width: 100%;
                    height: 100%;
                    transition: transform .2s ease;
                    object-fit: cover;
                    border-radius: 1rem;
                    border: .3rem solid $color-sub;
                }
    
                figcaption {
                    display: none;
                }
            }
        }
    }
    .sidmool {
        h3 {
            &::after {
                content: '자연을 사랑하는 화장품 브랜드';
            }
        }
    }
    .muvic {
        h3 {
            &::after {
                content: '영화와 음악을 한번에 즐길 수 있는 사이트';
            }
        }
    }

    .korean-air {
        h3 {
            &::after {
                content: '비행의 완벽함 대한민국 대표 항공사';
            }
        }
    }
    .spar {
        h3 {
            &::after {
                content: '글로벌 프리미엄 베이킹 브랜드';
            }
        }
    }
    .news {
        h3 {
            &::after {
                content: 'news api를 사용하여 제작된 사이트';
            }
        }
    }
}