
.profile {
   position: relative;
   overflow: hidden;

   /* media */
   @include mq('1026'){
      padding: 5rem 2rem;
      box-sizing: border-box;
   }
    /* media */
    @include mq('767'){
      padding: 3rem 1.5rem;
   }

   &-inner {
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 5rem;
      max-width: 124rem;
      height: 100%;
      padding: 0 2rem;
      margin: 0 auto;
      box-sizing: border-box;

       /* media */
       @include mq('1026'){
         display: block;
         max-width: none;
         width: 100%;
         padding: 0 0rem;
       }
   }
   
   &-about {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mq('1026'){
         box-shadow: 0 0 .8rem 0 #00000015;
      }
      
   h2 {
      @include textHide();
   }

   ul {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(-10%);
      opacity: 0;

      /* media */
      @include mq('1026'){
         padding: 2rem 0;
         box-sizing: border-box;
      }

      li {
         &:nth-of-type(1) {
            width: 100%;
            padding: 3rem 0;
            box-sizing: border-box;
            text-align: center;

            /* media */
            @include mq('1026'){
               padding: 0 0 2rem 0;
            }

            img {
               width: 30rem;
               border-radius: 3rem;
               box-shadow: 0 0 .7rem 0 rgba(2, 2, 2, 0.199) inset;

                /* media */
               @include mq('1026'){
                  width: 25rem;
                  border-radius: 1rem;
                  box-shadow: none;
               }
               /* media */
               @include mq('767'){
                  width: 20rem;
               }
               @include mq('480'){
                  width: 15rem;
               }
            }
         }

         &:nth-of-type(2) {
            h3 {
               width: 100%;
               padding: 0 0 3rem 0;
               box-sizing: border-box;
               text-align: center;
               
               font : {
                  family: 'Somi';
                  weight : 500;
               }
               color: $color-primary;

               @include mq('1026'){
                  font-size: 3rem;
                  padding: 0 0 2rem 0;
               }
                /* media */
                @include mq('767'){
                  font-size: 2.5rem;
               }
               @include mq('480'){
                  padding: 0 0 1.8rem 0;
               }
            }
      
            dl {
               display: flex;
               align-items: center;
               white-space: nowrap;
               margin: 0 0 1rem 0;
               font-weight: 600;

               dt {
                  width: 6.2rem;
                  margin: 0 1.5rem 0 0;
                  font-size: 2rem;
                  color: $color-primary;

                  @include mq('1026'){
                     font-size: 1.8rem;
                     margin: 0 1rem 0 0;
                  }
                  @include mq('767'){
                     font-size: 1.6rem;
                  }
               }
               dd {
                  font-size: 2rem;
                  color: $color-normal;

                  @include mq('1026'){
                     font-size: 1.8rem;
                  }
                  @include mq('767'){
                     font-size: 1.4rem;
                  }

                  &::before {
                     display: inline-block;
                     color: $color-primary;
                  }
               }
            }
         }
         }
      }
   }

   /* profile-txt */
   &-txt {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5rem;
      box : {
         sizing: border-box;
         shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;
      }
      -webkit-box-shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;
      -moz-box-shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;

       /* media */
       @include mq('1026'){
         margin: 5rem 0 0 0;
         box-shadow: 0 0 .8rem 0 #00000015;
         -webkit-box-shadow: 0 0 .8rem 0 #00000015;
         -moz-box-shadow: 0 0 .8rem 0 #00000015;
      }
      @include mq('767'){
         padding: 5rem 3rem;
         margin: 3rem 0 0 0;
      }
      @include mq('480'){
         padding: 3rem 0rem;
      }

      &-top {
         box-sizing: border-box;
         opacity: 0;
         transform: translateX(10%);

         /* media */
         @include mq('1026'){
            margin: 0 0 2rem 0;
         }
         @include mq('767'){
         }
         @include mq('480'){
            padding: 0 2rem;
            margin: 0 0 1.5rem 0;
            box-sizing: border-box;
         }

         p {
            display: inline-block;
            position: relative;
            left: 2rem;
            font : {
               size: 3rem;
               family: 'Somi';
            }
            color: $color-primary;
            z-index: 1;

            @include mq('767'){
               font-size: 2.5rem;
            }
            @include mq('480'){
               left: 1rem;
               font-size: 2rem;
            }

            &::before {
               content: '';
               display: inline-block;
               position: absolute;
               left: -1.5rem;
               top: -1.5rem;
               background: url(../img/profile-deco-img-1.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;

               @include mq('1026'){
                  top: -.5rem;
               }
               @include mq('767'){
                  width: 1.5rem;
                  height: 1.5rem;
               }
               @include mq('480'){
                  display: none;
               }
            }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               right: -1rem;
               bottom: 3rem;
               background: url(../img/profile-deco-img-2.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;

               @include mq('1026'){
                  bottom: 2.3rem;
               }
               @include mq('767'){
                  bottom: 2rem;
                  width: 1.5rem;
                  height: 1.5rem;
               }
               @include mq('480'){
                  display: none;
               }
            }
         }
      }

      &-bottom {
         display: flex;
         flex-direction: column;
         position: relative;
         text-transform: uppercase;
         opacity: 0;
         transform: translateX(10%);

         dl {
            padding: 2rem;
            box-sizing: border-box;

            @include mq('480'){
               padding: 1.5rem;
            }

            dt {
               margin: 0 0 2rem 0;

               font : {
                  size: 2rem;
                  weight: 600;
               }
               border-bottom: 2px solid $color-sub;
               color: $color-primary;

               @include mq('767'){
                  font-size: 1.8rem;
               }
               @include mq('480'){
                  margin: 0 0 1.5rem 0;
                  font-size: 1.6rem;
               }
            }
            
            dd {
               display: flex;
               align-items: center;
               padding: 1rem 0;
               box-sizing: border-box;
               font-size: 1.6rem;
               color: #666666;

               @include mq('1026'){
                  font-size: 1.6rem;
               }
               @include mq('767'){
                  font-size: 1.4rem;
               }

               em {
                  margin: 0 2rem 0 0;
                  font-weight: 600;
                  color: $color-primary;
                  font-size: 1.8rem;

                  @include mq('767'){
                     font-size: 1.6rem;
                  }
                  @include mq('480'){
                     font-size: 1.5rem;
                  }
               }
            }
         }

         .abilityOpen {
            display: inline-block;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            width: 5rem;
            height: 8rem;
            background: url(../img/profile-img-2.png)center center no-repeat;
            background-size: cover;
            animation: upDown 0.5s ease infinite alternate;

            /* media */
            @include mq('1026'){
               width: 3rem;
               height: 6rem;
            }
            @include mq('767'){
               right: 0rem;
               bottom: 0rem;
               width: 3rem;
               height: 4rem;
            }
            @include mq('480'){
               right: 2rem;
               bottom: -2rem;
               width: 2.5rem;
               height: 3.5rem;
            }

            &:hover {
               animation: none;
            }

            &::before {
               content: 'ability';
               display: inline-block;
               position: absolute;
               left: 50%;
               bottom: 1rem;
               transform: translateX(-50%);
               text-transform: uppercase;
               letter-spacing : .3rem;
               font : {
                  size : 1.4rem;
                  weight : 700;
                  style : italic;
               }
               color: rgb(255, 196, 0);
               background-color: #fafafa;

               /* media */
               @include mq('1026'){
                  letter-spacing : .1rem;
               }
               @include mq('767'){
                  font-size: 1.1rem;
               }
               @include mq('480'){
                  font-size: 1rem;
               }
            }
          }
      }
   }

   /* ability */
   .ability {
      &-modal {
         display: none;
         position: fixed;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.8);
         z-index: 1000;
      }

      &-contents {
         display: flex;
         flex-direction: column;
         @include absolute;
         transform: translate(-50%, -50%);
         width: 60rem;
         height: 65rem;
         padding: 2rem;
         box-sizing: border-box;
         border-radius: 1rem;
         background-color: #f4f4f4;
         z-index: 1001;

         /* media */
         @include mq('600') {
            max-width: none;
            width: 45rem;
         }
         @include mq('480') {
            width: 35rem;
            padding: 1rem 2rem;
         }
         @include mq('380') {
            width: 30rem;
            height: 60rem;
         }
      }

      &-top {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 0 2rem 0;

         /* media */
         @include mq('1026'){
            margin: 0 0 1rem 0;
         }

         h4 {
            position: relative;

            font : {
               size: 2rem;
               style: italic;
               weight : 500;
            }
            color: $color-normal;

            /* media */
         @include mq('1026'){
            font-size: 1.8rem;
         }
          /* media */
          @include mq('767'){
            font-size: 1.6rem;
         }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 0;
               bottom: -.3rem;
               width: 10rem;
               height: .1rem;
               background-color: #000;

               /* media */
               @include mq('1026'){
                  width: 6rem;
               }
            }
         }

         button {
             position: relative;
             width: 2.5rem;
             height: 2.5rem;
             border-radius: .4rem;
             border: .2rem solid #444444;
             background-color: #ececec;

            /* media */
            @include mq('1026'){
               width: 2rem;
               height: 2rem;
            }

             &::before, &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               width: 100%;
               height: .2rem;
               border-radius: .4rem;
               background-color: #444444;
             }

             &::before {
               transform: rotate(45deg);
             }
             &::after {
               transform: rotate(-45deg);
             }
         }
      }
      &-inner {
         position: relative;
         display: flex;
         flex-direction: column;

         @include mq('600') {
         }

         > div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 2rem 0;

            span {
               position: relative;
               width: 22rem;
               height: 22rem;
               background: url(../img/profile-img-3-1.png)center center no-repeat;
               background-size: cover;

               /* media */
               @include mq('600'){
                   width: 14rem;
                   height: 14rem;
               }
               @include mq('380') {
                  width: 12rem;
                  height: 12rem;
               }
         }
      }
             ul {
               display: grid;
               grid-template-columns: repeat(2,1fr);
               gap: 2rem;
               padding: 2rem 0 0 0;
               box-sizing: border-box;
               border-top: .1rem dashed #444444;

               /* media */
               @include mq('600'){
                  grid-template-columns: repeat(1,1fr);
                  gap: .5rem;
               }
               @include mq('480'){
               }

               li {
                  display: grid;
                  grid-template-columns: 20% 75%;
                  gap: 1rem;
                  align-items: center;

                  @include mq('600'){
                     grid-template-columns: 14% 82%;
                     justify-content: center;
                     padding: 0 1rem 0 0;
                     box-sizing: border-box;
                  }

                  figure {
                     width: 100%;

                     @include mq('600'){ 
                        text-align: center
                     }

                     figcaption {
                        @include textHide();
                     }

                     img {
                        width: 100%;
   
                        @include mq('600'){
                           max-width: 4rem;
                        }
                     }
                  }

                  p {
                     position: relative;
                     width: 100%;
                     height: 1.5rem;
                     background-color: #fff;
                     box-shadow: 0 0 .5rem 0 #00000025;

                     /* media */
                     @include mq('1026'){
                        height: 1.3rem;
                     }

                     &::before {
                        display: block;
                        position: absolute;
                        top: -1.6rem;

                        font : {
                           size: 1.2rem;
                           weight : 600;
                           family:'Nanum Myeongjo';
                          }
                          text-transform: uppercase;
                          letter-spacing: .1rem;
                        color: #444444;

                        /* media */
                        @include mq('1026'){
                           font-size: 1rem;
                           letter-spacing: 0rem;
                        }
                     }

                     &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $color-primary;
                        height: 1.5rem;

                        /* media */
                        @include mq('1026'){
                           height: 1.3rem;
                        }
                     }
                  }
               }
               /* before */
               li:nth-of-type(1) p::before {
                  content: 'photoshop';
               }
               li:nth-of-type(2) p::before {
                  content: 'illustrator';
               }
               li:nth-of-type(3) p::before {
                  content: 'html';
               }
               li:nth-of-type(4) p::before {
                  content: 'css';
               }
               li:nth-of-type(5) p::before {
                  content: 'scss';
               }
               li:nth-of-type(6) p::before {
                  content: 'javascript';
               }
               li:nth-of-type(7) p::before {
                  content: 'figma';
               }
               li:nth-of-type(8) p::before {
                  content: 'github';
               }
               /* after */
               li:nth-of-type(n+3):nth-of-type(-n+8) img {
                  border-radius: 1rem;
               }
               li:nth-of-type(1) p::after {
                  animation: photoShopGage 1.6s forwards;
               }
               li:nth-of-type(2) p::after {
                  animation: AiGage 1.6s forwards;
               }
               li:nth-of-type(3) p::after {
                  animation: HtmlGage 2.5s forwards;
               }
               li:nth-of-type(4) p::after {
                  animation: CssGage 2s forwards;
               }
               li:nth-of-type(5) p::after {
                  animation: ScssGage 1.7s forwards;
               }
               li:nth-of-type(6) p::after {
                  animation: JsGage 1s forwards;
               }
               li:nth-of-type(7) p::after {
                  animation: FigmaGage 1.6s forwards;
               }
               li:nth-of-type(8) p::after {
                  animation: GithubGage 1.6s forwards;
               }
            }

            &-rt {
               display: flex;
               justify-content: end;

               ul {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin: 2rem 0 0 0;

                  li {

                     &:nth-of-type(1) {
                        position: relative;
                        width: 25rem;
                        height: 35rem;
                        border-radius: 2rem;
                        transition: background .1s ease-in;
                        -webkit-transition: background .1s ease-in;      
                        -moz-transition: background .1s ease-in;
                        -o-transition: background .1s ease-in;
                     }
                   }
               }
            }
         }
      }
   .block {
      display: block;
   }
}
