//* banner */
.banner{
    width: 100vw;
    height: 10rem;
    background: url(../img/banner-img.png)center center repeat-x;
    animation: banner 20s infinite linear alternate-reverse;
}

/* team project */
.team-project {

   h2 {
    padding: 8rem 0 0 0;
   }

   &-inner {
    padding: 8rem 0;
    box-sizing: border-box;
   }

   &-wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 15rem;
    max-width: 120rem;
    margin: 0 auto;
   }

   &-slide {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    height: 50rem;

        img {
            width: 100%;
        }

    &-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 2rem 5rem;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 0 .8rem 0 #00000015;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: -3rem;
            width: 6rem;
            height: 7rem;
            background: url(../img/team-project-img-4.png)center center no-repeat;
            background-size: cover;
        }

        h4 {
            text-align: center;
        }

        dl {
            display: flex;
            align-items: center;
            margin: 0 0 2rem 0;
    
            dt {
                width: 6rem;
                font : {
                    size: 2.5rem;
                    weight: 600;
                }
                margin: 0 2rem 0 0;
            }
            dd {
                font-size: 1.8rem;
            }
        }

        ul {
            li {
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 1%;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: $color-primary;
                    transition: transform .5s ease-in-out,
                    opacity .2s ease;
                    opacity: 0;
                }

                &:hover {
                    &::before  {
                        transform: scale(60);
                        opacity: 1;
                    }
                    a{
                        color: #fff;
                        transform: scale(1.15);
                    }
                }
            }
        }
      }
   }
}


/* personal */
.personal {
    padding: 0 0 8rem 0;
    box-sizing: border-box;

    h2 {
        padding: 0 0 8rem 0;
    }

    &-inner {
        padding: 0 3rem;
        box-sizing: border-box;
    }

    .swiper {
       overflow: hidden;

        &-slide {
            display: flex;
            flex-direction: column-reverse;
            box-shadow: 0 0 .8rem 0 #00000015;
            white-space: nowrap;
            cursor: none;
        }

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 2rem;
            box-sizing: border-box;
            background-color: #fff;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 0;
                top: -2rem;
                width: 3rem;
                height: 4rem;
                background: url(../img/team-project-img-4.png)center center no-repeat;
                background-size: cover;
                transform: rotate(-26deg);
                z-index: 2;
            }

            h4 {
                padding: 0 0 0.5rem 0rem;
                margin: 0 0 2rem 0;
                box-sizing: border-box;
                font-size: 2.5rem;
                border-bottom: .1rem solid #1c1c1b;
                z-index: 0;
            }

            &-txt {
                position: relative;

                dl {
                    display: flex;
                    align-items: center;
                    margin: 0 0 1.5rem 0;

                    dt {
                        margin: 0 1rem 0 0;
                        width: 5rem;

                        font : {
                            size: 1.8rem;
                            weight: 600;
                        }
                    }

                    dd {
                        font-size: 1.6rem;
                    }
                }

                ul {
                    margin: 2rem 0 0 0;

                    li {
                        &::before {
                            content: none;
                            display: none;
                        }
                    }
                }
            }
        }

        figure {
            overflow: hidden;
            padding: 1rem;
            box-sizing: border-box;
            background-color: #fff;

            img {
                width: 100%;
                transition: transform .2s ease;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* 공통 */
.team-project, .personal {

    h4,dl,dt,dd,a {
        color: #1c1c1b;
    }

    h2 {
        text-align: center;
        box-sizing: border-box;
    }
    h4 {
        padding: 0 0 1rem 0;
        margin: 0 0 4rem 0;
        box-sizing: border-box;
        font-size: 3rem;
        border-bottom: 1px solid #1c1c1b;
    }

    ul {
        display: flex;
        justify-content: end;
        margin: 4rem 0 0 0;
        padding: 0 0 1rem 0;
        box-sizing: border-box;
        border-bottom: 1px solid #1c1c1b;

        li {
            position: relative;
            font-size: 1.8rem;
            border: 1px solid #1c1c1b;
            transition: background-color .2s ease;
            box-shadow: inset 0 -.3rem 0 0 #444444;
            overflow: hidden;

            &:hover {
                animation: bounce 0.5s linear;

                a{
                    transform: scale(1.15);
                }
            }
            
            a {
                display: block;
                width: 13rem;
                height: 4.5rem;
                line-height: 4.5rem;
                text-align: center;
                transition: color .2s ease, transform .2s ease;
                white-space: nowrap;
            }

            &:nth-of-type(1) {
                margin: 0 1rem 0 0;
            }
        }

        .hide {
            display: none;
        }

    }
} 

/* script */

.script {
    padding: 0 0 15rem 0;
    box-sizing: border-box;

    h2 {
        padding: 0 0 8rem 0;
        box-sizing: border-box;
        text-align: center;
    }

    &-inner {
        padding: 0 3rem;
        margin: 0 auto;
        box-sizing: border-box;

        ul {
           display: grid;
           grid-template-columns: repeat(3,1fr);    
           gap: 3rem;

            li {
                position: relative;
                height: 35rem;
                border-radius: 2rem;
                box-shadow: 0 0 .8rem 0 #00000015;

                &:hover {
                    a {
                        visibility: visible;
                    }
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                    object-fit: cover;
                }

                a {
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}