
.profile {
   position: relative;
   height: 100vh;

   &-inner {
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 5rem;
      max-width: 120rem;
      height: 100%;
      margin: 0 auto;
   }
   
   &-about {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
   h2 {
      @include textHide();
   }

   ul {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(-10%);
      opacity: 0;

      li {
         &:nth-of-type(1) {
            width: 100%;
            padding: 3rem 0 3rem 0;
            box-sizing: border-box;
            text-align: center;
            transition: padding .2s ease;
            -webkit-transition: padding .2s ease;        
            -moz-transition: padding .2s ease;
            -o-transition: padding .2s ease;

            img {
               width: 30rem;
               border-radius: 3rem;
               background: url('../img/main-img-1.jpg') 0 center / 120% repeat-x;
               background: {
                  size: cover;
                  attachment: fixed;
               };
               box-shadow:0 0 .7rem 0 rgba(2, 2, 2, 0.199) inset;
               animation: cloud 100s linear infinite alternate-reverse;
            }
         }

         &:nth-of-type(2) {
            h3 {
               width: 100%;
               padding: 0 0 3rem 0;
               box-sizing: border-box;
               text-align: center;
               
               font : {
                  family: 'Somi';
                  weight : 500;
               }
               color: $color-primary;

               @include mq('1200'){
                  padding: 0 0 2rem 0;
               }
            }
      
            dl {
               white-space: nowrap;

               dt {
                  display: none;
               }
               dd {
                  margin: 0 0 2rem 0;
                  color: #1c1c1b;

                  font : {
                     size: 2rem;
                     weight: 600;
                  }
      
                  &::before {
                     display: inline-block;
                     color: $color-primary;
                  }
      
                  &:nth-of-type(1){
                     &::before {
                        content: 'Birth';
                        margin: 0 2.7rem 0 0;
                     }
                  }
                  &:nth-of-type(2){
                     &::before {
                        content: 'Phone';
                        margin: 0 1.7rem 0 0;
                     }
                  }
                  &:nth-of-type(3){
                     &::before {
                        content: 'E-mail';
                        margin: 0 1.4rem 0 0;
                     }
                  }
               }
            }
         }
         }
      }
   }

   &-txt {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5rem;
      box : {
         sizing: border-box;
         shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;
      }
      -webkit-box-shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;
      -moz-box-shadow: 8px 1px 5px -3px rgba(2, 2, 2, 0.071) inset;

      &-top {
         box-sizing: border-box;
         opacity: 0;
         transform: translateX(10%);

         p {
            display: inline-block;
            position: relative;
            left: 2rem;
            font : {
               size: 3rem;
               family: 'Somi';
            }
            color: $color-primary;
            z-index: 1;

            &::before {
               content: '';
               display: inline-block;
               position: absolute;
               left: -1.5rem;
               top: -1.5rem;
               background: url(../img/profile-deco-img-1.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;
            }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               right: -1rem;
               bottom: 3rem;
               background: url(../img/profile-deco-img-2.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;
            }
         }
      }

      &-bottom {
         display: flex;
         flex-direction: column;
         position: relative;
         text-transform: uppercase;
         opacity: 0;
         transform: translateX(10%);

         dl {
            padding: 2rem;
            box-sizing: border-box;

            dt {
               margin: 0 0 2rem 0;
               font : {
                  size: 2rem;
                  weight: 600;
               }
               border-bottom: 2px solid $color-sub;
               color: $color-primary;
            }
            
            dd {
               padding: 1rem 0;
               box-sizing: border-box;
               color: #666666;

               em {
                  margin: 0 2rem 0 0;
                  font-weight: 600;
                  color: $color-primary;
               }
            }
         }

         .abilityOpen {
            display: inline-block;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            width: 5rem;
            height: 8rem;
            background: url(../img/profile-img-2.png)center center no-repeat;
            background-size: cover;
            animation: upDown 0.5s ease infinite alternate;

            &:hover {
               animation: none;
            }

            &::before {
               content: 'ability';
               display: inline-block;
               position: absolute;
               left: 50%;
               bottom: 1rem;
               transform: translateX(-50%);
               text-transform: uppercase;
               letter-spacing : .3rem;
               font : {
                  size : 1.4rem;
                  weight : 700;
                  style : italic;
               }
               color: rgb(255, 196, 0);
               background-color: #fafafa;
            }
          }
      }
   }

   /* ability */
   .ability {
      &-modal {
         display: none;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.8);
         z-index: 1000;
      }

      &-contents {
         @include absolute;
         transform: translate(-50%, -50%);
         width: 60rem;
         height: 65rem;
         padding: 2rem;
         box-sizing: border-box;
         border-radius: 1rem;
         background-color: #f4f4f4;
         z-index: 1001;

         &::before {
            content: 'My skills possess';
            display: inline-block;
            position: absolute;
            left: -14rem;
            bottom: 10.5rem;

            font : {
               size: 3rem;
               style : italic;
               weight : 600;
               family:'Nanum Myeongjo';
            }
            color: #fff;
            transform: rotate(-90deg);
         }

         &::after {
            content: 'Aptitude Test';
            display: inline-block;
            position: absolute;
            right: -11.5rem;
            top: 8rem;

            font : {
               size: 3rem;
               style : italic;
               weight : 600;
               family:'Nanum Myeongjo';
            }
            color: #fff;
            transform: rotate(90deg);
         }
      }

      &-top {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 0 2rem 0;

         h4 {
            position: relative;

            font : {
             size: 2rem;
             style: italic;
             family:'Nanum Myeongjo';
            }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 0;
               bottom: -.3rem;
               width: 10rem;
               height: .1rem;
               background-color: #000;
            }
         }

         button {
             position: relative;
             width: 2.5rem;
             height: 2.5rem;
             border-radius: .4rem;
             border: .2rem solid #444444;
             background-color: #ececec;

             &::before, &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               width: 100%;
               height: .2rem;
               border-radius: .4rem;
               background-color: #444444;
             }

             &::before {
               transform: rotate(45deg);
             }
             &::after {
               transform: rotate(-45deg);
             }
         }
      }
      &-inner {
         position: relative;
         display: flex;
         flex-direction: column;

         > div {
            margin: 0 0 2rem 0;
            text-align: center;

            span {
               position: relative;
               width: 24rem;
               height: 22rem;
               background: url(../img/profile-img-3.png)center center no-repeat;
               background-size: cover;
               
            &::after {
               content: '';
               display: inline-block;
               @include absolute();
               transform: translate(-45%, -56%);
               width: 0;
               height: 0;
               background: url(../img/profile-img-4.png)center center no-repeat;
               background-size: cover;
               animation: Aptitude 1.6s forwards;
            }
            }
         }

             ul {
               display: grid;
               grid-template-columns: repeat(2,1fr);
               gap: 2rem;
               padding: 2rem 0 0 0;
               box-sizing: border-box;
               border-top: .2rem dashed #444444;

               li {
                  display: grid;
                  grid-template-columns: 20% 75%;
                  gap: 1rem;
                  align-items: center;

                  img {
                     width: 100%;
                  }

                  p {
                     position: relative;
                     width: 100%;
                     height: 1.5rem;
                     background-color: #fff;
                     box-shadow: 0 0 .5rem 0 #00000025;

                     &::before {
                        display: block;
                        position: absolute;
                        top: -1.6rem;

                        font : {
                           size: 1.2rem;
                           weight : 700;
                           family:'Nanum Myeongjo';
                          }
                          text-transform: uppercase;
                          letter-spacing: .1rem;
                        color: #444444;
                     }

                     &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $color-primary;
                        height: 1.5rem;
                     }
                  }
               }
               /* before */
               li:nth-of-type(1) p::before {
                  content: 'photoshop';
               }
               li:nth-of-type(2) p::before {
                  content: 'illustrator';
               }
               li:nth-of-type(3) p::before {
                  content: 'html';
               }
               li:nth-of-type(4) p::before {
                  content: 'css';
               }
               li:nth-of-type(5) p::before {
                  content: 'scss';
               }
               li:nth-of-type(6) p::before {
                  content: 'javascript';
               }
               li:nth-of-type(7) p::before {
                  content: 'figma';
               }
               li:nth-of-type(8) p::before {
                  content: 'github';
               }
               /* after */
               li:nth-of-type(n+3):nth-of-type(-n+8) img {
                  border-radius: 1rem;
               }
               li:nth-of-type(1) p::after {
                  animation: photoShopGage 1.6s forwards;
               }
               li:nth-of-type(2) p::after {
                  animation: AiGage 1.6s forwards;
               }
               li:nth-of-type(3) p::after {
                  animation: HtmlGage 2.5s forwards;
               }
               li:nth-of-type(4) p::after {
                  animation: CssGage 2s forwards;
               }
               li:nth-of-type(5) p::after {
                  animation: ScssGage 1.7s forwards;
               }
               li:nth-of-type(6) p::after {
                  animation: JsGage 1s forwards;
               }
               li:nth-of-type(7) p::after {
                  animation: FigmaGage 1.6s forwards;
               }
               li:nth-of-type(8) p::after {
                  animation: GithubGage 1.6s forwards;
               }
            }

            &-rt {
               display: flex;
               justify-content: end;

               ul {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin: 2rem 0 0 0;

                  li {

                     &:nth-of-type(1) {
                        position: relative;
                        width: 25rem;
                        height: 35rem;
                        border-radius: 2rem;
                        transition: background .1s ease-in;
                        -webkit-transition: background .1s ease-in;      
                        -moz-transition: background .1s ease-in;
                        -o-transition: background .1s ease-in;
                     }
                   }
               }
            }
         }
      }
   .block {
    display: block;
   }
}
