#projects-script {
    height: auto;
    padding: 0 0 15rem 0;
    box-sizing: border-box;

    h2 {
        padding: 1rem 0;
        
        font : {
            size: 9rem;
            weight: 800;
            style : italic;
            family:'Nanum Myeongjo';
        }

        &::after {
            content: 'script';
            display: block;
            max-width: 124rem;
            margin: 0 auto;
            color: transparent;
            text-align: start;
            -webkit-text-stroke-width: .1rem;
            -webkit-text-stroke-color: $color-primary;
        }
    }

    .script-inner {
        max-width: 124rem;
        margin: 0 auto;
        }

        > div {
            padding: 5rem;
            box-sizing: border-box;
            border-radius: 1rem;
            border: .4rem double $color-sub;


            ul {
                li {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 1rem;
                    margin: 0 0 5rem 0;

                    figure {
                        position: relative;
                        height: 50rem;
                        padding: 3rem;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 2rem;
                            box-shadow: 0 0 0 1rem rgb(251, 251, 251);
                        }
                        figcaption {
                            display: none;
                        }
                    }

                    dl {
                        border: 1px solid red;
                    }
                }
            }
        }
    }