//* banner */
.banner{
    width: 100vw;
    height: 10rem;
    background: url(../img/banner-img.png)center center repeat-x;
    animation: banner 20s infinite linear alternate-reverse;

     /* media */
     @include mq('1026'){
        height: 8rem;
     }
}

/* team project */
.team-project {
     /* media */
     @include mq('1026'){
        padding: 2rem;
        box-sizing: border-box;
     }

   h2 {
    padding: 8rem 0 0 0;

    /* media */
    @include mq('1026'){
        padding: 5rem 0;
     }
   }

   &-inner {
    padding: 8rem 2rem;
    box-sizing: border-box;

    /* media */
    @include mq('1026'){
        padding: 0rem 0;
    }
   }

   &-wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 15rem;
    max-width: 124rem;
    margin: 0 auto;

     /* media */
     @include mq('1026'){
        max-width: none;
        width: 100%;
        row-gap: 5rem;
     }
   }

   &-slide {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    height: 50rem;

    /* media */
    @include mq('1026'){
        display: block;
        height: auto;
        box-shadow: 0 0 .8rem 0 #00000015;
    }

    figure {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;

            /* media */
            @include mq('1026'){
                width: 50rem;
                height: 40rem;
            }
        }
    }

    &-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 2rem 5rem;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 0 .8rem 0 #00000015;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: -3rem;
            width: 5rem;
            height: 7.5rem;
            background: url(../img/team-project-img-4.png)center center no-repeat;
            background-size: cover;

           @include mq('1026'){
                right: 1rem;
                width: 4rem;
                height: 6rem;
            }
        }

        h4 {
            text-align: center;
        }

        dl {
            display: flex;
            align-items: center;
            margin: 0 0 2rem 0;

           @include mq('1026'){
                margin: 0 0 1.5rem 0;
            }
    
            dt {
                width: 6rem;
                font : {
                    size: 2.5rem;
                    weight: 600;
                }
                margin: 0 2rem 0 0;

                /* media */
               @include mq('1026'){
                    font-size: 1.8rem;
                }
            }
            dd {
                display: flex;
                font-size: 1.8rem;

                 /* media */
                @include mq('1026'){
                    font-size: 1.6rem;
                }
                
                a {
                    margin: 0 0 0 1rem;
                    color: $color-primary;
                    text-decoration: underline;
                    transition: transform .2s ease;

                    &:hover {
                        color: $color-normal;
                        transform: translateY(5%);
                    }
                }
            }
        }

        ul {
            li {
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 1%;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: $color-primary;
                    transition: transform .5s ease-in-out,
                    opacity .2s ease;
                    opacity: 0;
                }

                &:hover {
                    &::before  {
                        transform: scale(60);
                        opacity: 1;
                    }
                    a{
                        color: #fff;
                        transform: scale(1.15);
                    }
                }
            }
        }
      }
      .clone {
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 5.5rem;
            bottom: 5rem;
            width: 9rem;
            height: 3rem;
            background: url(../img/team-project-img-5.png)center center no-repeat;
            background-size: cover;
            opacity: .7;
            animation: moveX 1s ease infinite alternate;

           @include mq('1026'){ 
                bottom: 3rem;
            }
        }
      }
   }
}


/* personal */
.personal {
    padding: 0 0 8rem 0;
    box-sizing: border-box;

    /* media */
   @include mq('1026'){
        padding: 5rem 2rem;
    }

    h2 {
        padding: 0 0 8rem 0;

        /* media */
       @include mq('1026'){
            padding: 0 0 5rem 0;
        }

    }
    &-inner {
        padding: 0 2rem;
        box-sizing: border-box;

        /* media */
       @include mq('1026'){
            padding: 0 0rem;
        }
    }

    .swiper {
       overflow: hidden;

        &-slide {
            display: flex;
            flex-direction: column-reverse;
            box-shadow: 0 0 .8rem 0 #00000015;
            white-space: nowrap;
            cursor: none;
        }

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 2rem;
            box-sizing: border-box;
            background-color: #fff;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 0;
                top: -2rem;
                width: 3rem;
                height: 4.5rem;
                background: url(../img/team-project-img-4.png)center center no-repeat;
                background-size: cover;
                transform: rotate(-26deg);
                z-index: 2;

                /* media */
               @include mq('1026'){
                    top: -3.5rem;
                }
            }

            h4 {
                padding: 0 0 0.5rem 0rem;
                margin: 0 0 2rem 0;
                box-sizing: border-box;
                font-size: 2.5rem;
                border-bottom: .1rem solid $color-normal;
                z-index: 0;
            }

            &-txt {
                position: relative;

                dl {
                    display: flex;
                    align-items: center;
                    margin: 0 0 1.5rem 0;

                    dt {
                        margin: 0 1rem 0 0;
                        width: 5rem;

                        font : {
                            size: 1.8rem;
                            weight: 600;
                        }
                    }

                    dd {
                        font-size: 1.6rem;
                        display: flex;

                        a {
                            margin: 0 0 0 1rem;
                            color: $color-primary;
                            text-decoration: underline;
                            transition: transform .2s ease;
        
                            &:hover {
                                color: $color-normal;
                                transform: translateY(5%);
                            }
                        }
                    }
                }

                ul {
                    margin: 2rem 0 0 0;

                    li {
                        &::before {
                            content: none;
                            display: none;
                        }
                    }
                }
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 2rem;
                    bottom: -8rem;
                    width: 9rem;
                    height: 3rem;
                    opacity: .7;
                    animation: moveX 1s ease infinite alternate;

                   @include mq('1026'){ 
                        bottom: -6rem;
                    }
                }
            }
        }

        figure {
            overflow: hidden;
            padding: 1rem;
            box-sizing: border-box;
            background-color: #fff;

            img {
                width: 100%;
                transition: transform .2s ease;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .redesing {
        &::before {
            background: url(../img/project-img-6.png)center center no-repeat;
            background-size: cover;
        }
    }
    .clone2 {
        &::before {
            background: url(../img/team-project-img-5.png)center center no-repeat;
            background-size: cover;

           @include mq('1026'){ 
                bottom: -6rem;
            }
        }
    }
}

/* 공통 */
.team-project, .personal {
    h4,dl,dt,dd,a {
        color: $color-normal;
    }

    h2 {
        text-align: center;
        box-sizing: border-box;
    }
    h4 {
        padding: 0 0 1rem 0;
        margin: 0 0 4rem 0;
        box-sizing: border-box;
        font-size: 3rem;
        border-bottom: 1px solid $color-normal;

        @include mq('1026'){
             margin: 0 0 3rem 0;
             font-size: 2.5rem;
        }
    }

    ul {
        display: flex;
        justify-content: end;
        margin: 4rem 0 0 0;
        padding: 0 0 1rem 0;
        box-sizing: border-box;
        border-bottom: 1px solid $color-normal;

       @include mq('1026'){
            margin: 2rem 0 0 0;
        }

        li {
            position: relative;
            font-size: 1.6rem;
            border: 1px solid $color-normal;
            transition: background-color .2s ease;
            box-shadow: inset 0 -.3rem 0 0 #444444;
            overflow: hidden;

           @include mq('1026'){
                font-size: 1.4rem;
            }

            &:hover {
                animation: bounce 0.5s linear;
                a{
                    transform: scale(1.15);
                }
            }
            
            a {
                display: block;
                width: 10.5rem;
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                transition: color .2s ease, transform .2s ease;
                white-space: nowrap;
            }

            &:nth-of-type(1) {
                margin: 0 1rem 0 0;
            }
        }

        .hide {
            display: none;
        }
    }
} 


/* script */
.script {
    padding: 0 0 15rem 0;
    box-sizing: border-box;

   @include mq('1026'){
        padding: 0 0 10rem 0;
     }

    h2 {
        padding: 0 0 8rem 0;
        box-sizing: border-box;
        text-align: center;

        
       @include mq('1026'){
            padding: 0 0 5rem 0;
        }
    }

    &-inner {
        padding: 0 3rem;
        margin: 0 auto;
        box-sizing: border-box;

        /* media */
       @include mq('1026'){
            padding: 0 2rem;
        }

        ul {
           display: grid;
           grid-template-columns: repeat(3,1fr);    
           gap: 3rem;

           /* media */
          @include mq('1026'){
                grid-template-columns: repeat(1,1fr);    
                justify-items: center;
                gap: 5rem;
            }

            li {
                position: relative;
                height: 35rem;
                border-radius: 2rem;
                box-shadow: 0 0 .8rem 0 #00000015;

                /* media */
               @include mq('1026'){
                    max-width: 70rem;
                    height: 40rem;
                }

                &:hover {
                    a {
                        opacity: 1;
                    }
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                    object-fit: cover;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding: 4rem 5rem;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    background-color: $color-primary;
                    opacity: 0;
                    transition: opacity .2s ease;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 2rem;
                        bottom: 2rem;
                        width: 8rem;
                        height: 3rem;
                        background: url(../img/script-img-4.png)center center no-repeat;
                        background-size: contain;
                        animation: upDown 1s ease infinite alternate;

                        /* media */
                       @include mq('1026'){
                            right: 5rem;
                            width: 12rem;
                            height: 5rem;
                        }
                    }

                    h4 {
                        display: inline-block;
                        text-align: center;
                        padding: 0 0 .3rem 0;
                        margin: 0 0 4rem 0;
                        box-sizing: border-box;
                        border-bottom: .1rem solid #fff;
                        font-size: 2.5rem;
                        color: #fff;
                        white-space: nowrap;
                    }

                    dl {
                        display: flex;
                        align-items: center;
                        padding: 0 0 1rem 0;
                        margin: 0 0 1.5rem 0;
                        box-sizing: border-box;
                        color: #fff;
                        border-bottom: .1rem solid #fff;
    
                        dt {
                            margin: 0 1rem 0 0;
                            width: 5rem;
    
                            font : {
                                size: 1.8rem;
                                weight: 600;
                            }
                        }
                        dd {
                            font-size: 1.6rem;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}