.profile {
   position: relative;

   &-inner {
      display: flex;
      max-width: 124rem;
      height: 100%;
      margin: 0 auto;
   }
   
   &-about {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      &::before {
         content: '';
         display: inline-block;
         position: absolute;
         left: 0;
         top: 6rem;
         width: 100%;
         height: .2rem;
         background-color: $color-sub;
      }
      
   h2 {
      position: absolute;
      left: 0;
      top: 2rem;
      color: $color-primary;
      font-family: 'EF_Rebecca';
   }

   ul {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
         &:nth-of-type(1) {
            width: 100%;
            padding: 3rem 0 3rem 0;
            box-sizing: border-box;
            text-align: center;
            transition: padding .2s ease;
            -webkit-transition: padding .2s ease;        
            -moz-transition: padding .2s ease;
            -o-transition:padding .2s ease;

            img {
               width: 27rem;
               border-radius: 3rem;
               background: url('../img/그레인구름.jpg') 0 center / 120% repeat-x;
               background: {
                  size: cover;
                  attachment: fixed;
               };
               animation: cloud 100s linear infinite alternate-reverse;
            }
         }

         &:nth-of-type(2) {
            h3 {
               width: 100%;
               padding: 0 0 3rem 0;
               box-sizing: border-box;
               text-align: center;
               font-family: 'GangwonState';

               @include mq('1200'){
                  padding: 0 0 2rem 0;
               }
      
               &::after {
                  content: '(Sim Yoonji)';
                  display: block;
                  text-transform: none;
               }
            }
      
            dl {
               white-space: nowrap;

               dt {
                  display: none;
               }
               dd {
                  margin: 0 0 2rem 0;
                 

                  font : {
                     size: 2rem;
                     weight: 600;
                  }
      
                  &::before {
                     display: inline-block;
                     color: $color-primary;
                  }
      
                  &:nth-of-type(1){
                     &::before {
                        content: 'Birth';
                        margin: 0 2.7rem 0 0;
                     }
                  }
                  &:nth-of-type(2){
                     &::before {
                        content: 'Phone';
                        margin: 0 1.7rem 0 0;
                     }
                  }
                  &:nth-of-type(3){
                     &::before {
                        content: 'E-mail';
                        margin: 0 1.4rem 0 0;
                     }
                  }
               }
            }
         }
         }
      }
   }

   &-txt{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
      padding: 5rem;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: inset 0.5rem 0.4rem 1rem 0 #0000001c;

      &-top {
         box-sizing: border-box;

         p {
            display: inline-block;
            position: relative;
            left: 2rem;
            z-index: 1;
            font-size: 2.5rem;
            color: $color-primary;

            &::before {
               content: '';
               display: inline-block;
               position: absolute;
               left: -1.5rem;
               top: -1.5rem;
               background: url(../img/따옴표.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;
            }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               right: -1rem;
               bottom: 3rem;
               background: url(../img/따옴표2.png)center center no-repeat;
               background-size: contain;
               width: 2rem;
               height: 2rem;
               z-index: -1;
            }
         }
      }

      &-bottom {
         display: flex;
         flex-direction: column;
         position: relative;
         text-transform: uppercase;

         dl {
            padding: 2rem;
            box-sizing: border-box;

            dt {
               margin: 0 0 2rem 0;
               font : {
                  size: 2rem;
                  weight: 600;
               }
               border-bottom: 2px solid $color-sub;
               color: $color-primary;
            }
            
            dd {
               padding: 1rem 0;
               box-sizing: border-box;

               em {
                  margin: 0 2rem 0 0;
                  font-weight: 600;
                  color: $color-primary;
               }
            }
         }

         .skillsOpen {
            display: inline-block;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            width: 5rem;
            height: 8rem;
            background: url(../img/지팡이.png)center center no-repeat;
            background-size: cover;
            animation: skillsBtn 0.5s ease infinite alternate;

            &::before {
               content: 'skills';
               display: inline-block;
               position: absolute;
               bottom: 0;
               text-transform: uppercase;
               font : {
                  size : 1.4rem;
                  style : italic;
               }
               color: $color-primary;
               background-color: rgba(255, 255, 255, 0.9);
               padding: 1rem;
               border-radius: 2rem;
            }
          }
      }
   }

   /* skills */
   .skills {

      &-modal {
         display: none;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7);
         z-index: 5;
      }

      &-contents {
         @include absolute;
         transform: translate(-50%,-50%);
         height: 59rem;
         border-radius: 2rem;
         background-color: $color-sub;
         z-index: 6;
         overflow: hidden;

         h4 {
            position: relative;
            height: 7%;
            padding: 0 2rem;
            box-sizing: border-box;
            line-height: 3.9rem;

            font : {
             size: 2rem;
             style: italic;
            }

            color: #fff;
            background-color: $color-primary;

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 7rem;
               top: 50%;
               transform: translateY(-50%);
               width: 2rem;
               height: 2rem;
               background: url(../img/star-yellow.png)center center no-repeat;
               background-size: contain;
            }
         }
      }

      &-inner {
         display: flex;
         justify-content: space-between;
         position: relative;
         height: 93%;
         padding: 2rem;
         box-sizing: border-box;

            ul {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               margin: 0 5rem 0 0;

               li {
                  display: flex;
                  align-items: center;

                  img {
                     width: 5rem;
                     height: 5rem;
                     margin: 0 2rem 0 0;
                  }

                  p {
                     position: relative;
                     width: 35rem;
                     height: 1.5rem;
                     border-radius: 1rem;
                     background-color: #fff;

                     &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 1rem;
                        background-color: $color-primary;
                        height: 1.5rem;
                     }
                  }
               }
               li:nth-of-type(n+3):nth-of-type(-n+8) img {
                  border-radius: 1rem;
               }
               li:nth-of-type(1) p::after {
                  animation: photoShopGage 1.6s forwards;
               }
               li:nth-of-type(2) p::after {
                  animation: AiGage 1.6s forwards;
               }
               li:nth-of-type(3) p::after {
                  animation: HtmlGage 2.5s forwards;
               }
               li:nth-of-type(4) p::after {
                  animation: CssGage 2s forwards;
               }
               li:nth-of-type(5) p::after {
                  animation: ScssGage 1.7s forwards;
               }
               li:nth-of-type(6) p::after {
                  animation: JsGage 1s forwards;
               }
               li:nth-of-type(7) p::after {
                  animation: FigmaGage 1.6s forwards;
               }
               li:nth-of-type(8) p::after {
                  animation: GithubGage 1.6s forwards;
               }
            }

            &-rt {
               display: flex;

               .motions {
                  display: flex;
                  flex-direction: column;
                  margin: 0 2rem 0 0;

                  button {
                     width: 5rem;
                     height: 5rem;
                     margin: 0 0 1.5rem 0;
                     border-radius: 1rem;

                     &:nth-of-type(1) {
                        background:url(../img/normal.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(2) {
                        background:url(../img/Dash.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(3) {
                        background:url(../img/Dance.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:hover {
                        box-shadow: 0 0 0 .2rem $color-primary;
                     }
                  }
               }
               dl {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  
                  dt {
                     width: 25rem;
                     height: 35rem;
                     margin: 0 0 2rem 0;
                     border-radius: 2rem;
                     transition: background .1s ease-in;
                     -webkit-transition: background .1s ease-in;      
                     -moz-transition: background .1s ease-in;
                     -o-transition: background .1s ease-in;
                  }

                  .changeMotion-normal {
                     background: url(../img/이모지-normal.gif)center center no-repeat;
                     background-size: cover;
                  }
                  .changeMotion-dash {
                     background: url(../img/이모지-dash.gif)center center no-repeat;
                     background-size: cover;
                  }
                  .changeMotion-dance {
                     background: url(../img/이모지-dance.gif)center center no-repeat;
                     background-size: cover;
                  }

                  dd {
                     width: 100%;
                     padding: .8rem 0;
                     margin: 0 0 .8rem 0;
                     box-sizing: border-box;
                     text-align: center;
                     border-radius: .5rem;
                     background-color: #fff;
                     font-family: 'GangwonState';
                     color: #2e2e2e;

                     &:nth-of-type(2) {
                        color: $color-sub-pink;
                     }
                  }
               }
               .skills-close {
                  position: absolute;
                  right: 2rem;
                  bottom: 2rem;
                  padding: 1rem;
                  box-sizing: border-box;
                  border-radius: 2rem;
                  color: #fff;
                  background-color: $color-primary;
                  transition: color .2s ease, background-color .2s ease;
                  -webkit-transition: color .2s ease, background-color .2s ease;         
                  -moz-transition: color .2s ease, background-color .2s ease;
                  -o-transition: color .2s ease, background-color .2s ease;

                  font : {
                     size: 2rem;
                     style: italic;
                  }

                  &:hover {
                     color: $color-primary;
                     background-color: #fff;
                  }
               }
            }
         }
      }

   

   .block {
      display: block;
   }
}
